<h1>Demandes de mise à jour diplômé</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Nom</th>
            <th style="width: 20%">Prénom</th>
            <th style="width: 20%">Date de Naissance</th>
            <th style="width: 20%">Lieu</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>Jbéli</td>
            <td>Ons</td>
            <td>09-05-1999</td>
            <td>Manouba</td>
            <td><button class="btn btn-info" >voir détails</button>
            </td>
        </tr> 
    </tbody>
</table>

