<div style="display: inline-block;">
    <img
    src="assets/images/logos/logo1.png"
    alt="homepage"
    class="dark-logo"
    width="500"
    style="margin: 50px;"
  />
    <h2>Contactez-nous</h2>
    <p>Local principal:
    <p><i class="bi bi-geo-alt"></i> 45 Rue des Entrepreneurs 2035 Charguia II Tunis- Carthage-Tunisie</p> 
    <p><i class="bi bi-phone-vibrate"></i> TEL: (+216)71 941 579 / (+216)71 940 699</p>
    <p><i class="bi bi-printer"></i> ( +216 ) 71 941 579</p>
    <p><i class="bi bi-envelope"></i> enicarthage@enicarthage.rnu.tn</p>
</div>
<div style="display: inline-block; margin-left: 100px;">
    <h3>Administration</h3>
    <ul style="list-style-type: none;">
    <li><i class="bi bi-person"></i> Directeur : Hassen Zairi
    <br>hassen.zairi@enicarthage.rnu.tn</li><br>
    <li><i class="bi bi-person"></i> Secrétaire Général : Amel Ben Alaya
    <br>amel.benalaya@enicar.u-carthage.tn</li><br>
    <li><i class="bi bi-person"></i> Directrice des études et des stages : Imen Kammoun
    <br>imen.kammoun@enicar.ucar.tn</li><br>
    <li><i class="bi bi-person"></i> Directeur du Département Génie Electrique : Lotfi Bouslimi
    <br>Bouslimi.Lotfi@enicar.u-carthage.tn</li><br>
    <li><i class="bi bi-person"></i> Directeur du Département Informatique : Houssemeddine Hermassi
    <br>houssemeddine.hermassi@enicar.u-carthage.tn</li><br>
    <li><i class="bi bi-person"></i> Directeur du Département Génie Industriel : Slimane Attyaoui
    <br>slimen.attyaoui@enicar.u-carthage.tn</li>
</ul>
</div>















