<h1>Demandes d'ajout diplômé</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Nom</th>
            <th style="width: 20%">Prénom</th>
            <th style="width: 20%">Date de Naissance</th>
            <th style="width: 20%">Lieu</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let demande of demandes" [(ngModel)]="diplomee">
            <td>{{demande.nom}}</td>
            <td>{{demande.prenom}}</td>
            <td>{{demande.dateNaiss}}</td>
            <td>{{demande.lieuNaiss}}</td>
            <td><button class="btn btn-info" (click)="afficher(demande)" routerLink="/component/info-diplomee" >voir détails</button>
            </td>
        </tr> 
    </tbody>
<br>
    <span style="font-weight: bold;" id="alert"></span>
<br><br>
</table>

